###### Requirements with Version Specifiers ######`
geopandas==0.7.0
numpy
pandas==1.0.3
rasterio==1.1.5
shapely==1.7.0
xarray
statsmodels==0.12.2
h5py==2.10
timezonefinder==5.2.0
azure_agrifood_farming==1.0.0b1
azure-core==1.15.0
azureml-core==1.28.0
azureml-pipeline==1.28.0
azureml-pipeline-core==1.28.0
azureml-pipeline-steps==1.28.0
azureml-sdk==1.28.0
azureml-defaults==1.28.0
keras==2.3.1
seaborn==0.11.1
shapely==1.7.0
statsmodels==0.12.2
tensorboard==2.1.1
tensorflow==2.4.2
urllib3==1.26.5
xarray==0.16.2
jupyter
jupyterlab==2.1.4
jupyterlab-git==0.30.1
ipykernel
ipython
ipython-genutils
ipywidgets
json-logging-py==0.2
json5==0.9.5
jsondiff==1.2.0
jsonpickle==2.0.0
jsonschema==3.2.0
requests==2.25.1
matplotlib==3.3.4